<header>
  
    <div class="header-container">
      <div class="menu-toggle">
        <button class="menu-toggle-button" (click)="toggleMenu()">☰</button>
      </div>
      <div class="header-title">
        <h1>Matcher</h1>
      </div>
      <div class="header-button">
        <a routerLink="/login" class="login-button">Login</a>
      </div>
    </div>
  
</header>

<main [class.menu-visible]="isMenuVisible">
  
  <aside class="menu" [class.hidden]="!isMenuVisible">
    <ul>
      <li><a routerLink="/user">Who Are We</a></li>
      <li><a href="#">Why Matcher</a></li>
      <li><a href="#">Memberships</a></li>
      <li><a href="#">Success Stories</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </aside>

  <section class="content">
    <router-outlet></router-outlet>
 </section>
</main>

<footer>
  <p>&copy; 2025 Matcher. All rights reserved.</p>
</footer>
